.banner {
  grid-template-areas:
    'title action'
    'text action';

  & > :first-child {
    grid-area: title;
    text-align: left;
  }

  & > :nth-child(2) {
    grid-area: text;
  }

  & > :nth-child(3) {
    grid-area: action;
  }
}
