.banner {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'title action'
    'text action';
  align-items: center;
  gap: 0.5rem 2 rem;
  margin-top: calc(var(--spacing) * 12);
  background-color: var(--color-primary);
  color: var(--color-surface);
  padding: 1.5rem 3rem;

  & > :first-child {
    grid-area: title;
    text-align: left;
  }

  & > :nth-child(2) {
    grid-area: text;
  }

  & > :nth-child(3) {
    grid-area: action;
  }
}
